
.custom-bg{
    background-color: rgb(173, 173, 202) !important;
}
.body-cu{
    background-color: rgb(173, 173, 202) !important;
}

.level{
    background-color: rgb(122, 122, 160) !important;
}

.title{
    background-color: rgb(120, 120, 168) !important;
}